/* src/App.css */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  min-height: 100vh;
  color: #fff;
}

.page-content {
  margin-top: 100px; /* space below navbar */
  min-height: 75vh;
  padding: 40px;
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  background: #2c3e50;
  color: white;
  padding: 15px 0;
  font-size: 0.95rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Buttons */
button {
  cursor: pointer;
  background: #00c4ff;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background: #009dd1;
}
